<div id="selected-item">{{ selected }}</div>
<div id="logo">
	<div id="name">Gareth Marland</div>
</div>
<div id="instructions">USE <- AND -> TO NAVIGATE. SHOOT TO OPEN</div>
<div id="view-panel">
	<view-scene></view-scene>
</div>
<div id="flight-panel" class="flight-panel">
	<table>
		<tr>
			<td class="stats">
				<div class="stats-inner">
					<div class="table">
						<div class="row">
							<div class="cell" style="width:95px">C#</div>
							<div class="cell power-container"><div class="power">&nbsp;</div></div>
						</div>
						<div class="row">
							<div class="cell" style="width:95px">SQL</div>
							<div class="cell power-container"><div class="power">&nbsp;</div></div>
						</div>
						<div class="row">
							<div class="cell" style="width:95px">JS</div>
							<div class="cell power-container"><div class="power">&nbsp;</div></div>
						</div>
						<div class="row">
							<div class="cell" style="width:95px">NODE.JS</div>
							<div class="cell power-container"><div class="power">&nbsp;</div></div>
						</div>
						<div class="row">
							<div class="cell" style="width:95px">MONGODB</div>
							<div class="cell power-container"><div class="power">&nbsp;</div></div>
						</div>
					</div>
				</div>
			</td>
			<td class="radar">
				<div id="radar-container">
					<radar-scene container="'radar-container'"></radar-scene>
				</div>
			</td>
			<td class="stats">
				<div class="stats-inner">
					<div class="table">
						<div class="row">
							<div class="cell" style="width:95px">EMAIL</div>
							<div class="cell power-container"><a href="mailto:gareth.marland@gmail.com">gareth.marland@gmail.com</a></div>
						</div>
						<div class="row">
							<div class="cell" style="width:95px">TWITTER</div>
							<div class="cell power-container"><a href="https://twitter.com/GarethMarland" target="_blank">@garethmarland</a></div>
						</div>
						<div class="row">
							<div class="cell" style="width:95px">GITHUB</div>
							<div class="cell"><a href="https://github.com/gmarland" target="_blank">https://github.com/gmarland</a></div>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>
<div id="flight-panel-mb" class="flight-panel">
	<div class="stats-inner">
		<div class="table">
			<div class="row">
				<div class="cell" style="width:95px">EMAIL</div>
				<div class="cell power-container"><a href="mailto:gareth.marland@gmail.com">gareth.marland@gmail.com</a></div>
			</div>
			<div class="row">
				<div class="cell" style="width:95px">TWITTER</div>
				<div class="cell power-container"><a href="https://twitter.com/GarethMarland" target="_blank">@garethmarland</a></div>
			</div>
			<div class="row">
				<div class="cell" style="width:95px">GITHUB</div>
				<div class="cell"><a href="https://github.com/gmarland" target="_blank">https://github.com/gmarland</a></div>
			</div>
		</div>
	</div>
</div>